/* Danger (Красная) Theme */
.navbar.bg-primary, .footer.bg-primary {
    background-color: #dc3545 !important;
}
.bg-secondary {
    background-color: #5a6268 !important;
}
.btn-primary {
    background-color: #dc3545;
    border-color: #dc3545;
}
.btn-primary:hover {
    background-color: #c82333;
    border-color: #bd2130;
}
